<aside>
  <div class="row container-fluid page">
    <nav aria-label="Page navigation">
      <ul class="pagination">
        <% counter=1 %> 
            <% @questions.each do |q| %>
              <li>
                <% str = counter.to_s %>
                <% counter+=1 %>
                <%= link_to str,"/question/#{q.id}" %>
              </li>
            <% end %> 
      </ul>
    </nav>
  </div>
</aside>