<div class="container">
	<div class="jumbotron text-center">
	  <p><%= link_to 'Create Your Own Contest' , url_for(controller: :home , action: :start),method: :get,:class => "btn btn-success btn-lg"%></p>
	</div>
</div>	