<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><%= link_to 'LOGOUT', destroy_user_session_path, method: :delete , data: {confirm: 'Are you Sure?'}%></li>
        <li><%= link_to 'SUBMIT QUIZ', '/submit', method: :get , data: {confirm: 'Are you Sure?'}%></li>
        
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>