<%= render 'contest' %>

<div class="container">
	<div class="jumbotron text-center">
	  <h1>Welcome to Quiz</h1>
	  <p>Click on the button to Start the quiz</p>
	  <p><%= link_to 'Start' , url_for(controller: :home , action: :start),method: :get,:class => "btn btn-success btn-lg"%></p>
	</div>
</div>	