<main>
	<%= @questions.first.question_content %>
</main>
<% counter=1 %>
<aside>
	<div>
		<% @questions.each do |q| %>
			<div>
				<% str = counter.to_s %>
				<% counter+=1 %>
				<%= link_to str,"/question/#{q.id}" %>
			</div>
		<% end %>	
	</div>
</aside>
<div id="timer"></div>
