/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */



main{
	position: absolute;
	left: 20%;
	top: 20%;
}
aside{
	position: absolute;
	left: 70%;
	top: 10%;
	width: 20%;
	background-color: yellow;
}
aside div {
	display: flex;
	flex-wrap: wrap;
}

aside div div {

	margin: 0 0 0 0;
	padding: 2% 2% 2% 2%;
	width: 10%;
	border: solid thin black;
	z-index: 10;
}
#timer{
	position: fixed;
	right: 10%;
	top: 3%;
}
#log-in{
	position: fixed;
	top: 10%;
	left: 25%;
	width: 50%;
}
#sign-up{
	position: fixed;
	top: 10%;
	left: 25%;
	width: 50%;
}
#login-with-facebook{
	position: relative;
	margin-top: 2%;
	padding: 2% 2% 2% 2%;
	left: 35%;
	width: 30%;
	text-align: center;
	background-color: #3b5998;
}

#login-with-facebook > a{
	color: white;
	text-decoration: none;
}
