// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.question{
	display: flex;
	flex-direction: column;
	word-wrap: break-word;
	width: 50%;
}


.question>div{
	display: flex;
	justify-content: space-between;
}

.question>div>div{
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	height: 7em;
}

.question>div>div>div{
	display: flex;
}

#submit_question{
	display:flex;
	justify-content: space-between;
}
#submit_question>input{
	width: 20%;
}

form{
	border: 2px solid lightgrey;
	padding: 28px;
}

form>h4{
	line-height:150%;
	height:50%;
}