// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.question{
	display: flex;
	flex-direction: column;
	width: 70%;
}


.question>div{
	display: flex;
	justify-content: space-between;
}

.question>div>div{

	display: flex;
	width :40%;
	justify-content: space-around;
	flex-direction: column;
}

.question>div>div>div{
	display: flex;
	word-wrap: break-word;
}

#submit_question{
	display:flex;
	justify-content: space-between;
}
#submit_question{
	position:relative;
	background-color:red;
	left:88%;
	width: 14%;
}
.next{
	border-style:none;
}
#next_question{
}
form{
	border: 2px solid lightgrey;
	padding: 28px;
}

form>h4{
	line-height:150%;
	height:50%;
}
#change-question{
	width:50%;
	display:flex;
	justify-content:space-between;
}


.previous{
	border-style:none;
}
.progress{
	margin-left:10%;
	width:50%;
}

#next-change-question{
}

.next-from-start{
	border-style:none;
}
#start_next_question{
	position:relative;
	left:90%;
}

.page{
	width: 50vw;
	display:flex;
	justify-content: space-between;
}